@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700');
@import url('https://use.fontawesome.com/releases/v5.0.13/css/all.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font: {
        family: 'Montserrat', sans-serif;
        size: 16px;
        weight: 400;
    }
    color: #212121;
    background-color: #F5F7FA;
}

input,
textarea,
button {
    outline: none;
}

textarea {
    font: {
        family: 'Montserrat', sans-serif;
        size: 16px;
        weight: 400;
    }
    max-width: 100%;
    min-width: 100%;
}

button {
    border: 0;
    background: none;
    font: {
        size: 16px;
    }
}

a {
    text-decoration: none;
    color: #495057;
    transition: all 0.2s ease-in-out;

    &:hover {
        color: rgb(104, 44, 199);
    }
}

h1,
h2,
h3 {
    font: {
        family: 'Playfair Display', serif;
        weight: 700;
    }
}

h2 {
    font: {
        size: 32px;
    }
    line-height: 1;
    margin-top: 10px;
    margin-bottom: 35px;
}

form {
    width: 400px;
    text-align: center;
}

.form-separator {
    margin: 8px 0;
    color: #495057;
    font: {
        family: 'Playfair Display', serif;
        size: 12px;
    }
}